doctype html
html


   head
      meta(charset='utf-8')
      link(rel='icon', href='data:;base64,iVBORw0KGgo=')
      title map

      for link in links.css
         link(rel='stylesheet', href='#{st}/#{link}')


   body(ng-app='app.app')

      .row
         xx-map
         ng-include(src='"#{src}/list/list.html"')

      for link in links.js
         script(src='#{st}/#{link}')
