form.cluster-modal(name='modal.form', ng-submit='modal.save()')

   .modal-header
      div
         h2 Редактирование кластера

   .modal-body
      | something

   .modal-footer
      button.btn.btn-default(type='submit') Сохранить
      button.btn.btn-default(ng-click='modal.cancel()') Отмена
