.cluster-popup(ng-controller='ClusterPopupController as popup')

   h3 Кластер, {{ cluster.name }}

   button.btn.btn-default(ng-click='popup.edit()') Редактировать

   p
      | Широта — {{ cluster.coords.lat }}
      br
      | Долгота — {{ cluster.coords.lng }}

   p
      | Кластер — группа компьютеров, объединённых высокоскоростными каналами 
      | связи, представляющая с точки зрения пользователя единый аппаратный 
      | ресурс. Очевидно же.
