.list(ng-controller='ListController as list')

   h2 Кластеры
   ul
      li(ng-repeat='cluster in ::list.items.clusters')
         a(href, ng-click='list.setCenter(cluster)') {{ ::cluster.name }}

   h2 Контроллеры
   ul
      li(ng-repeat='controller in ::list.items.clusters[0].controllers')
         a(href, ng-click='list.setCenter(controller)') {{ ::controller.addr }}
