.list {

   flex-grow: 0;
   padding: 0 2em;

   h2 {
      font-weight: normal;
      font-size: 120%;
   }

   ul {
      padding: 0;
      list-style-type: none;
   }

   li {
   }

   a {
      text-decoration: none;
      display: block;
      padding: 0.7ex 0.8em;
      color: black;
      &:hover {
         background: rgba(0,0,0,0.1);
      }
   }

}
